<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			
			div {
				width: 200px;
				height: 200px;
			}
			.box1 {
				background: red;
			}
			.box2 {
				background: green;
			}
		</style>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript">
			
		</script>
	</head>
	<body ng-init="arr=[1,2,3,4]">
		<input type="text" ng-model="v" />
		<p ng-show="v"></p>
		<!--<div ng-class="'box1'"></div>-->
		<!--<div ng-class="{box1: true,box2: true}"></div>-->
		<ul>
			<li ng-repeat="x in arr track by $index" ng-class="{box1:$odd,box2:$even}">{{x}}</li>
		</ul>
		
		<ul>
			<li ng-repeat="x in arr track by $index" ng-class-odd="'box1'" ng-class-even="'box2'">{{x}}</li>
		</ul>
	</body>
</html>
